html,
body {
  height: 100%;
}

body {
  background: #202215;
  background: #3a2802;
  display: flex;
  align-items: center;
  justify-content: center;
}


p{
	color: #c5adf7;
}
.sand_text{
	color: #e0dc82;
}
.white_text{
	color: #fff;
}